<%  include('../layouts/header.ejs') %>



<div style="text-align: center; margin-top: 50px;">
    <img src="https://static.vecteezy.com/system/resources/thumbnails/006/549/647/small/404-landing-page-free-vector.jpg" style="width: 60%; padding-top: 5%;">
    <h2 style="margin-top: 20px;">Page Not Found</h2>
</div>

<%  include('../layouts/header.ejs') %>
